@font-face {
  font-family: arcFont;
  src: url(/fonts/ArchitectsDaughter.ttf);
}
body{
  font-family: arcFont;
  margin: 0px;;
  padding: -5px;
  max-height: 100%;
  min-height: 100%;
  overflow:hidden;
  transition: background-color 2s ease-in-out;
}
canvas{
  transition: background-color 2s ease-in-out;
  font-family: arcFont;
}
.btn{
  background-color:black;
  transition: background-color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.btn:hover{
  color: black;
}
.container {
    padding: 25px;
    transition: all .3s ease-in-out;
}
#smallTitle{
  position:fixed;
  right:1px;
  top: 1px;
  font-size:15px;
  color: black;
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: solid black 2px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
.loginAdditionals{
  background-color: #EDEDED;
  box-shadow:0 1px 0 #cfcfcf;
  border-radius: 0px 0px 15px 15px;
  border-color:#d2d2d2;
  border-width: 5px;
}
.loginAdditionals .list-group-item{
  transition: all .4s ease-in-out;
}
.loginAdditionals .list-group-item:hover{
  background-color: black;
  color: white;
}
h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
@media only screen and (min-width:991px;){
  .container{
    max-width: 150px;
  }
}
